apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "deployment-bot.fullname" . }}
  namespace: {{ .Values.namespace | default "argocd" }}
  labels:
    {{- include "deployment-bot.labels" . | nindent 4 }}
spec:
  revisionHistoryLimit: 5
  replicas: {{ .Values.replicaCount }}
  {{- if .Values.updateStrategy }}
  strategy:
{{ toYaml .Values.updateStrategy | indent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "deployment-bot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "deployment-bot.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "deployment-bot.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          env:
	  {{- include "helpers.list-env-variables" . | indent 6 }}
          {{- with .Values.deployment_bot.command }}
          command:
          {{- range . }}
            - {{ . | quote }}
          {{- end }}
          {{- end }}
          {{- with .Values.deployment_bot.baseArgs }}
          args:
          {{- range . }}
            - {{ . | quote }}
          {{- end }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.tag_version }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .Values.deployment_bot.health.healthpath }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.deployment_bot.health.liveness_initialdelay }}
            failureThreshold: 2
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 4
          readinessProbe:
            httpGet:
              path: {{ .Values.deployment_bot.health.healthpath }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.deployment_bot.health.readiness_initialdelay }}
            failureThreshold: 2
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 4
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
