apiVersion: v1
kind: Service
metadata:
  name: {{ include "deployment-bot.fullname" . }}
  namespace: {{ .Values.namespace | default "argocd" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector:
    {{- include "deployment-bot.selectorLabels" . | nindent 4 }}
